body {
    padding: 0em;
    margin: 0em;
    background-color: sienna;
}

#master {
    margin: 0em auto;
}

#boardContainer {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

#pyramidContainer {
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 5;
}

.pos {
    border: 1px black solid;
    overflow: auto;
    background-color: sandybrown;
}

    
.pos:hover {
    background-color: saddlebrown;
}

#interfaceContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
}

    
#camelSelectionContainer {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.camelSelector {
    border: 1px black solid;
    margin: 1em auto;
    display: inline-block;
    width: 17%;
    cursor: pointer;
    margin: 0em;
    text-align: center;
}

#enterMoveButtonContainer {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
    text-align: center;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#enterMoveButton {
    display:inline-block;
    width: 100%;
    height: 100%;
    cursor: pointer;
    text-align: center;
    margin: 0em;
}

#diceRollContainer {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.button {
    border: 1px black solid;
    margin: 1em auto;
    display: inline-block;
    width: 32%;
    cursor: pointer;
    margin: 0em;
    text-align: center;
}

.button:hover {
    background-color: saddlebrown;
}

@media screen and (orientation:landscape) {
    #master {
        width: 80vh;
    }
    
    .pos {
        height: 16vh;
        width: 16vh;
        font-size: 2vh;
    }
    
    #interfaceContainer {
        height: 16vh;
        margin-bottom: 2vh;
    }
    
    .camelSelector {
        font-size: 2.5vh;
    }
    
    #enterMoveButton {
        font-size: 2.5vh;
    }
    
    .button {
        font-size: 2.5vh;
    }
}



@media screen and (orientation:portrait) {
    #master {
        width: 80vw;
    }
    .pos {
        height: 16vw;
        width: 16vw;
        font-size: 3vh;
    }
    
    #interfaceContainer {
        height: 16vw;
        margin-bottom: 2vw;
    }
    
    .camelSelector {
        font-size: 2.5vw;
    }
    
    #enterMoveButton {
        font-size: 2.5vw;
    }    

    .button {
        cursor: pointer;
    }
}