body {
    padding: 0em;
    margin: 0em;
    background-color: sienna;
}

#master {
    margin: 0em auto;
    padding: 0em;
}

#boardContainer {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

#oddsContainer {
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 5;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.camelDataContainer {
    border: 1px black solid;
    width: 100%;
    display:flex;
    justify-content: space-between;
}

.camelDataContainer > section {
    text-align: center;
}

.camelDataContainer > p {
    padding: 0em;
    margin: 0em;
}

#oddsContainer > img {
    opacity: 0.2;
    max-height: 100%;
    max-width: 100%;
}

.tile {
    border: 1px black solid;
    overflow: auto;
    background-color: saddlebrown;
}

#interfaceContainer {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    width: 100%;
}

    
#camelSelectionContainer {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    flex-grow: 1;
}

#camelSelector {
    border: 1px black solid;
    margin: 1em auto;
    display: inline-block;
    cursor: pointer;
    width: 100%;
    height: 100%;
    margin: 0em;
    text-align: center;
}

#enterMoveButtonContainer {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
    flex-grow: 1;
}

#diceRollContainer {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    flex-grow: 1;
}

#diceSelector {
    border: 1px black solid;
    margin: 1em auto;
    display: inline-block;
    cursor: pointer;
    width: 100%;
    height: 100%;
    margin: 0em;
    text-align: center;
    background-color: sandybrown;
}

#enterMoveButton {
    border: 1px black solid;
    margin: 1em auto;
    display: inline-block;
    cursor: pointer;
    width: 100%;
    height: 100%;
    margin: 0em;
    text-align: center;
    background-color: sandybrown;
}

.camelIcon {
    margin: 0em;
    padding: 0em;
}

.tileLabel {
    margin: 0em;
    padding: 0em;
}

@media screen and (orientation:landscape) {
    #master {
        width: 80vh;
    }
    
    .tile {
        height: 16vh;
        width: 16vh;
        font-size: 2vh;
    }
    
    #interfaceContainer {
        height: 16vh;
        margin-bottom: 2vh;
    }
    
    #camelSelector {
        font-size: 2.5vh;
    }
    
    #enterMoveButton {
        font-size: 2.5vh;
    }

    #diceSelector {
        font-size: 2.5vh;
    }
    
    .button {
        font-size: 2.5vh;
    }

    #oddsContainer {
        font-size: 2.5vh;
    }
}



@media screen and (orientation:portrait) {
    #master {
        width: 80vw;
    }
    .tile {
        height: 16vw;
        width: 16vw;
        font-size: 3vh;
    }
    
    #interfaceContainer {
        height: 16vw;
        margin-bottom: 2vw;
    }
    
    #camelSelector {
        font-size: 2.5vw;
    }
    
    #enterMoveButton {
        font-size: 2.5vw;
    }    

    #diceSelector {
        font-size: 2.5vw;
    }

    .button {
        cursor: pointer;
    }

    #oddsContainer {
        font-size: 2.5wh;
    }
}

/*tile ordering, this could be done in the javascript
but I think it's better to keep anything display related
in the CSS (even if it does get extremely lengthy??) idek
stop creeping on my comments*/
#stepNum0 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 5;
    grid-row-end: 6;
}

#stepNum1 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 6;
}

#stepNum2 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 5;
    grid-row-end: 6;
}

#stepNum3 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
}

#stepNum4 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
}

#stepNum5 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}

#stepNum6 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

#stepNum14 {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 5;
    grid-row-end: 6;
}